body {
  color: deeppink;
  font-family: "Courier New", Courier, monospace;
  font-size: 22px;
  text-align: left;
  margin: 150px;
}

#cabecera {
  background-color: rgb(17, 165, 67);
  color: aliceblue;
  padding: 2%;
  font-weight: bold;
}

#container {
  width: 100%;
  border: 1px solid rgb(17, 165, 67);
  background-color: floralwhite;
}

#container h1 {
  font-size: 48px;
}

#post {
  padding: 5%;
}

#footer
{
  font-size: small;
  text-align: center;
  padding: 3%;
}
