body {
  color: deeppink;
  font-family: "Courier New", Courier, monospace;
  font-size: 22px;
  text-align: left;
  margin: 150px;
}

#container {
  width: 100%;
  padding: 5%;
  border: 1px solid gray;
  background-color: floralwhite;
}

#container h1 {
  font-size: 48px;
}