body {
  color: deeppink;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  text-align: left;
  margin: 150px;
}

#cabecera {
  background-color: rgb(12, 112, 158);
  color: aliceblue;
  padding: 2%;
  font-weight: bold;
}    

#container {
  width: 100%;
  border: 1px solid rgb(12, 112, 158);
  background-color: floralwhite;
}

#container h1 {
  font-size: 48px;
}

#post {
  padding: 5%;
}